= wrap_layout :layout do
  .article-detail.container
    %article
      %h1
        = current_article.title
        %time
          = current_article.date.strftime('%b %e %Y')

      .author
        = image_tag("authors/#{current_article.data.author}.jpg", class: 'author-avatar')
        %span.author-name
          = article_author(current_article)

      = yield

      %p
        = link_to '&laquo; Zurück zur Übersicht', '/', class: 'back'

      %p{:class => "share"}
        Share on
        = link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{get_full_post_url}"
        = link_to 'Twitter', "https://twitter.com/intent/tweet?text=#{get_full_post_url}"
        = link_to 'LinkedIn', "https://www.linkedin.com/cws/share?url=#{get_full_post_url}"
        %a{ href: "mailto:?subject=#{current_article.title}&body=#{get_full_post_url}" } Email
