---
title: Panter AG Blog
pageable: true
published: false
---

.article-list.container
  - page_articles.each do |article|
    %article
      %h1
        %a{ href: article.url }
          = article.title
          %time
            = article.date.strftime('%b %e %Y')

      .author
        = image_tag("authors/#{article.data.author}.jpg", class: 'author-avatar')
        %span.author-name
          = data.authors[article.data.author]['name']

      = article.summary
      = link_to '&raquo; Mehr lesen', article.url, class: 'more'
